body{
    font-family: helvetica,courier,monospace;
}
.notice, .notice .nav-item{
    background-color: #e2e8f0;
    color: #778190;
    font-family: courier ;
    font-weight: bolder;
}
.background{
    background-color: #f8f9fa;
}
.navbar{
    font-family: 'Josefin Sans',courier,helvetica;
}
.dropdown:hover>.dropdown-menu{
    display: block;
    border: none;
    background-color:#f8f9fa ;
}
.dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }
.dropdown-item{
    color: #778190;
}
#book_now, #book_now2{
    padding: .5em 2em;
    font-family: 'Josefin Sans',courier,helvetica;
    background-color: rgb(209, 158, 28);
    color: whitesmoke;
    border: none;
    transition: all .6s ease-in;
    border-radius: 0%;
}
#book_now:hover{
    background-color: #f8f9fa;
    color: rgb(209, 158, 28);
    padding: .5em 3em;
}
.carousel-caption{
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: bolder;
    font-family:'Josefin Sans',courier,helvetica ;    
}
.feedback_wall{
    font-family: 'Caveat',cursive;
    font-weight: bold;
    color: #535353;
}
.carousel-item{
    font-family: 'Caveat', cursive;
    font-size: 2em;
}
.card{
    height:400px;
    width: 350px;
    background-color: #e2e8f0;
    perspective: 1000px;
}
.card-body{
    align-content: center;
    font-family:'Josefin Sans',courier,helvetica ;
    color: #718096;
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}
.card:hover .card-body{
    transform: rotateY(180deg);
}
.card-front, .card-back{
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card-back{
    transform: rotateY(180deg);
    text-align: left;
    align-content: center;
    font-size: 2em;
}
.fa{
    color: #535353;
}
#values{
    color: #718096;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
#services{
    font-size: .6em;
    padding: 1em;
}
#questions{
    font-family:'Josefin Sans',courier,helvetica;
    color: #778190 ;
}
#answers{
    color: #a2acbb;
    font-family: 'Josefin Sans', courier, helvetica;
    font-variant: small-caps;
}
#tags{
    color: #535353;
    font-family: helvetica;
    padding-left: 2%;
    font-weight: 300;
}
#tags1{
    color: #535353;
    text-decoration: none;
}
.connect{
    background-image: url("map-desktop.jpg");
    background-size: 100% 100%;
    height: 30em;
}
.connect .button{
    background-color: transparent;
    border: none;
}
